<!DOCTYPE html>
<html lang="en">
<%- include('header.ejs') %>
<body>
<!-- ======= Header ======= -->
<%- include('nav.ejs') %>
<!-- End Header -->

<div
        class="hero hero-single route bg-image"
        style="background-image: url(assets/img/overlay-bg.jpg)"
>
    <div class="overlay-mf"></div>
    <div class="hero-content display-table">
        <div class="table-cell">
            <div class="container">
                <h2 class="hero-title mb-4">Project Details</h2>
                <ol class="breadcrumb d-flex justify-content-center">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item active"><%= project.title %></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<main id="main">
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="row gy-4 mb-4">
                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">
                            <% project.images.forEach((image, index) => { %>
                            <div class="swiper-slide">
                                <img src="<%= image %>" alt="" style="width: 856px; height: 605px">
                            </div>
                            <% }); %>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>: <%= project.category %></li>
                            <li><strong>Author</strong>: <%= project.author %></li>
                            <li><strong>Project date</strong>: <%= formatDate(project.date) %></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <p>
                            <%= project.description %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Portfolio Details Section -->
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<%- include('footer.ejs') %>
<!-- End  Footer -->

<div id="preloader"></div>
<a
        href="#"
        class="back-to-top d-flex align-items-center justify-content-center"
><i class="bi bi-arrow-up-short"></i
    ></a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/typed.js/typed.umd.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
</body>
</html>
